<ion-header>
  <ion-toolbar>
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic Test Painting App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for Application with Authentication.</p>
    </ion-card-content>
  </ion-card>
  <ion-button [routerLink]="['/login']" color="primary" expand="block" color="primary">Login</ion-button>
</ion-content>
